name: Rust

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

env:
  CARGO_TERM_COLOR: "always"
  CARGO_INCREMENTAL: "0"
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"
  # Minimum supported Rust version.
  msrv: 1.86.0
  # Nightly Rust necessary for building docs.
  nightly: nightly-2025-05-23

jobs:
  build-msrv:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.msrv }}
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Build libraries
        run: cargo build --workspace --lib --all-features

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy, rust-src
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install term-transcript
        uses: baptiste0928/cargo-install@v3
        with:
          crate: term-transcript-cli
          version: "0.4.0"

      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings

      - name: Run tests
        run: cargo test --workspace --all-features --all-targets
      - name: Run doc tests
        run: cargo test --workspace --all-features --doc
      - name: Run prop tests
        run: cargo test --release -p smart-config --all-features --all-targets prop_tests
        env:
          PROPTEST_CASES: 5000000
      - name: Check CLI snapshots can be generated
        run: ./crates/smart-config-commands/examples/make-snapshots.sh

  document:
    needs:
      - build
      - build-msrv
    if: github.event_name == 'push' && github.ref_type == 'branch'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.nightly }}
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Build docs
        run: |
          cargo clean --doc && \
          cargo rustdoc -p smart-config-derive --all-features -- -Z unstable-options --enable-index-page && \
          cargo rustdoc -p smart-config --all-features -- -Z unstable-options --enable-index-page --cfg docsrs && \
          cargo rustdoc -p smart-config-commands --all-features -- -Z unstable-options --enable-index-page

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/doc
          single-commit: true
